
.position-relative {
  position: relative;
}

.img-overlap {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  /* Adjust for visibility of text */
}

.text-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  top: 80%;
  transform: translateY(-30%);
  outline: none;
}